/*.btn {
  background: #25C28E;
  color: white;
}

.btn:hover {
  color: white;
  opacity: 0.9;
}
*/

::-webkit-input-placeholder {
   font-size: 0.9em !important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 0.9em !important;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 0.9em !important;
}

input, select, button {
  margin-top: 0.3rem !important;
  border-radius: 10px !important;
}

table {
  margin-top: 0.5rem;
}

.card {
  box-shadow: 5px 5px 10px grey;
}

.likert { text-align:center; }
.likert td { width: 70px; }

/*
input[type=range]::-webkit-slider-thumb {
    background: red;
}
input[type=range]::-moz-range-thumb {
    background: red;
}
input[type=range]::-ms-thumb {
    background: red;
}
*/
